# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/build/
*.tfstate
*.tfstate.*
terraform/terraform.tfvars
crash.log

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/

# OS
.DS_Store
